{{#partial "content"}}

    <div class="jumbotron">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <h4>HERO SQUAD</h4>
            <img src="/images/heroeslogo.jpeg" width="50" height="50" alt="Heroes logo">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/index">Home<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/heroes/new">Create A Hero</a>
                    <a class="nav-item nav-link" href="/squads/new">Create A Squad</a>
                    <a class="nav-item nav-link" href="/heroes">View all heroes</a>
                    <a class="nav-item nav-link" href="/squads">View All squads</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="card">
        <ul class="card-body">
            {{#each yourSquads}}
                <p id="heroTitle">Squad</p>
                <li><p>Squad name: {{ squadName }}</p></li>
                <li><p>Squad course: {{ course }}</p></li>
                <p><a href=/squads/:id>view details</a></p>
            {{/each}}
        </ul>
    </div>
{{/partial}}

{{> layout.hbs}}