<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}HERO SQUAD{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/App.css'>
</head>
<body>

<div class="container">
    <!--begin main template-->
    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}